<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <!-- <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo">
        <nav>
            <input type="text" placeholder="Buscar productos, marcas" class="buscador">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </nav>
        

        <nav>
            <h3 class="copy-nav">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjetas de crédito
            </h3>
            <ul class="nav1">
                <a href="#" class="listas-nav"><li>Ofertas</li></a>
                <a href="#" class="listas-nav"><li>Tiendas Oficiales</li></a>
                <a href="#" class="listas-nav"><li>Vender</li></a>
                <a href="#" class="listas-nav"><li>Ayuda</li></a>
            </ul>

            <ul class="nav2">
                <a href="#" class="listas-nav"><li>
                    Creá tu cuenta
                    <i class="fa-regular fa-id-card"></i>
                </li></a>
                <a href="#" class="listas-nav"><li>
                    Ingresá
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li></a>
                <a href="#" class="listas-nav"><li>
                    Mis Compras
                    <i class="fa-solid fa-basket-shopping"></i>
                </li></a>
            </ul>
        
        <div class="burger-menu">
            <i class="fas fa-bars" id="barras"></i>
        </div>
        </nav>
    </header> -->

    <form action="">
        <label for="usuario">Nombre de usuario</label>
        <input type="text" id="usuario">

        <label for="contraseña">Contraseña</label>
        <input type="password" id="contraseña">

        <button type="submit">Enviar</button>
    </form>

</body>
</html>