<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/7b3ab7cdfb.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <div class="top-header">
            <div class="caja-logo-buscador">
                <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo">
                <nav>
                    <input type="text" placeholder="Buscar productos, marcas" class="buscador">
                </nav>
            </div>

            <div class="caja-copy-nav">
                <h3 class="copy-nav">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjetas de crédito
                </h3>
            </div>

        </div>

        <nav class="barra-nav">
            <ul>
                <a href="#" class="listas-nav">
                    <li>Ofertas</li>
                </a>
                <a href="#" class="listas-nav">
                    <li>Tiendas Oficiales</li>
                </a>
                <a href="#" class="listas-nav">
                    <li>Vender</li>
                </a>
                <a href="#" class="listas-nav">
                    <li>Ayuda</li>
                </a>
            </ul>

            <ul>
                <a href="/register" class="listas-nav">
                    <li>
                        Creá tu cuenta
                        <i class="fa-regular fa-id-card"></i>
                    </li>
                </a>
                <a href="/login" class="listas-nav">
                    <li>
                        Ingresá
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </li>
                </a>
                <a href="#" class="listas-nav">
                    <li>
                        Mis Compras
                        <i class="fa-solid fa-basket-shopping"></i>
                    </li>
                </a>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars" id="barras"></i>
        </div>

    </header>

    <main>
        <form action="">
            <label for="nombre"></label>
            <input type="text" name="nombre" placeholder="Nombre y apellido" required pattern=".{3,}"
                title="El nombre debe tener al menos 3 caracteres" class="input-cajas">
    
            <label for="usuario"></label>
            <input type="text" name="usuario" placeholder="Nombre de usuario" required pattern=".{3,}"
                title="El usuario debe tener al menos 3 caracteres" class="input-cajas">
    
            <label for="email"></label>
            <input type="email" name="email" placeholder="E-mail" class="input-cajas">
    
            <label for="nacimiento"><h2>Fecha de nacimiento</h2></label>
            <input type="date" name="nacimiento" class="input-cajas">
    
            <label for="domicilio"></label>
            <input type="text" name="domicilio" placeholder="Domicilio" class="input-cajas">
    
            <div class="perfil-usuario">
                <label for="perfil"><h2>Perfil del usuario</h2></label> <br>
                <div>
                    <input type="radio" name="perfil"> Comprador
                    <input type="radio" name="perfil"> Vendedor
                </div>
            </div>
    
                <label for="categorias"><h2>Intereses</h2></label>
                <div class="categorias">
                    <div>
                        <input type="checkbox" name="categorias"> Electro
                    </div>
                    <div>
                        <input type="checkbox" name="categorias"> Moda
                    </div>
                    <div>
                        <input type="checkbox" name="categorias"> Hogar
                    </div>
                    <div>
                        <input type="checkbox" name="categorias"> Jugueteria
                    </div>
                    <div>
                        <input type="checkbox" name="categorias"> Vida sana
                    </div>
                </div>
    
            <label for="foto-usuario"></label>Foto de usuario:
            <input type="file" id="foto-usuario">
    
            <label for="contraseña"></label>
            <input type="password" placeholder="Contraseña" class="input-cajas" required>
    
            <label for="contraseña"></label>
            <input type="password" placeholder="Confirmar contraseña" class="input-cajas" required>
    
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>

        </form>
    </main>

    <footer>
        <div>
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </article>
            <article>
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde los $2500</h4>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegido.</p>
            </article>
        </div>
        <article class="footer-copyright">
            <span>Copyright © 1999-2023 MercadoLiebre S.R.L.</span>
        </article>
    </footer>

</body>

</html>