* {
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.caja-logo-buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 40%;
    margin: 20px 20px;
}

header {
    background-color: #EAC926;
    padding: 5px 0;
}

.buscador {
    width: 90%;
    padding: 10px;
    border: none;
    font-size: 13px;
    border-radius: 8px;
}

.copy-nav {
    font-size: 15px;
    text-align: center;
    padding: 15px;
    color: black;
}

.barra-nav {
    display: none;
}

.listas-nav {
    list-style: none;
    color: black;
    text-decoration: none;
}

.burger-menu {
    background-color: #1259c3;
    color: white;
    display: block;
    height: 40px;
    width: 40px;
    padding: 7px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
    justify-content: center;
}

.banner img {
    width: 100vw;
}

body {
    background-color: #ebebeb;
}

main {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

main form {
    padding: 10px 0;
    width: 100%;
}

main form div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main input {
    border-radius: 3px;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    font-size: 13px;
}

.caja-boton button {
    width: 80%;
    background-color: #1259c3;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    color: #ffffff;
    padding: 7px;
    margin-bottom: 10px;
    cursor: pointer;
}

.caja-boton button:hover {
    background-color: #0022AA;
}

footer {
    background-color: #ffffff;
}

footer article {
    text-align: center;
    margin: 40px;
    color: black;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #1259c3;
}

.footer-copyright {
    margin: 0;
}

@media (min-width: 461px) {

    .burger-menu {
        display: none;
    }

    .top-header {
        display: flex;
        justify-content: space-around;
    }
     
    .caja-copy-nav {
        display: flex;
        align-items: center;
        width: 30%;
        padding: 30px;
    }

    .copy-nav {
        margin: 0;
    }

    .buscador {
        padding: 2px;
        border-radius: 3px;
    }

    .barra-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .barra-nav ul {
        display: flex;
        flex-direction: row;
    }

    .barra-nav ul a {
        padding: 10px 15px;
    }  
}

@media (min-width: 769px) {

    .buscador {
        width: 30vw;
    }

    footer div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}