*{
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #ebebeb;
}

form {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

form input {
    background-color: white;
    margin-bottom: 35px;
}

.input-cajas {
    border-radius: 5px;
    border: none;
    padding: 8px;
}

form h2 {
    font-size: 15px;
    margin-bottom: 10px;
}

.perfil-usuario input {
    margin-left: 45px;
}

.categorias {
    padding: 10px;
}