* {
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.caja-logo-buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 40%;
    margin: 10px 10px;
}

header {
    background-color: #EAC926;
    padding: 5px 0;
}

.buscador {
    width: 90%;
    padding: 10px;
    border: none;
    font-size: 13px;
    border-radius: 8px;
}

.copy-nav {
    font-size: 15px;
    text-align: center;
    padding: 15px;
    color: black;
}

.barra-nav {
    display: none;
}

.listas-nav {
    list-style: none;
    color: black;
    text-decoration: none;
}

.burger-menu {
    background-color: #1259c3;
    color: white;
    display: block;
    height: 40px;
    width: 40px;
    padding: 7px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
    justify-content: center;
}

.banner img {
    width: 98.9vw;
}

body {
    background-color: #ebebeb;
    color: #666;
}

.titulares {
    font-size: 24px;
    padding: 15px;
}

.precio {
    font-size: 18px;
    margin: 15px;
    color: black;
    width: 30%;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    margin: 15px;
    width: 70%;
}

.descripcion {
    font-size: 16px;
    padding: 15px;
}

.caja-precio-descuento {
    display: flex;
    flex-direction: row;
}

main {
    margin: auto;
    width: 90vw;
}

.main-productos {
    display: flex;
    flex-direction: column;
}

main div section i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

article {
    margin: 10px;
}

main div article {
    background-color: white;
    margin: 15px;
    cursor: pointer;
}

.cajas {
    border-top: 1px solid #ebebeb;
    background-color: white;
    position: relative;
}

p {
    font-size: 12px
}

footer {
    background-color: #ffffff;
}

footer article {
    text-align: center;
    margin: 40px;
    color: black;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #1259c3;
}

.footer-copyright {
    margin: 0;
}

@media (min-width: 461px) {
    .productos-mq-tablet {
        display: flex;
        flex-direction: row;
    }

    .burger-menu {
        display: none;
    }

    .top-header {
        display: flex;
        justify-content: space-around;
    }

    .caja-copy-nav {
        display: flex;
        align-items: center;
        width: 30%;
        padding: 0 30px;
    }

    .copy-nav {
        margin: 0;
    }

    .buscador {
        padding: 10px;
        border-radius: 3px;
    }

    .barra-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .barra-nav ul {
        display: flex;
        flex-direction: row;
    }

    .barra-nav ul a {
        padding: 10px 15px;
    }

    .main-productos article {
        transition: box-shadow .5s
    }

    .main-productos article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .descripcion {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.5s, max-height 0.5s;
    }

    .main-productos article:hover .descripcion {
        opacity: 1;
        max-height: 200px;
        transition: opacity 0.5s, max-height 0.5s;
    }

    .main-productos article i {
        transition: transform 0.5s;
    }

    .main-productos article:hover i {
        transform: rotate(-90deg);
    }

    .main-productos article:not(:hover) i {
        transform: rotate(0);
    }
}

@media (min-width: 769px) {
    .logo {
        width: 20%;
    }

    .productos-mq-escritorio {
        display: flex;
        flex-direction: row;
    }

    .buscador {
        width: 30vw;
        padding: 10px;
    }

    footer div {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}